<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">

              
                <app-logo></app-logo>
               <app-social></app-social>
               <app-navigation>
                
               </app-navigation>
              
                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>

            </div>
        </div>
    </div><!--End of Header-->

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>My Website</h1>
                <h2>Welcome to my Angular app. For me, creating software is more than a passion. It's also a hobby for me, I enjoy developing web applications</h2>
            </div>

            <!--Call to Action-->
            <a href="#" class="button">START CREATING TODAY</a>
            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->
</header>